@import url("https://farsifont.github.io/css/iranyekan-farsi-numbers.css");
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: 255 255 255; /* #ffffff */
  --foreground: 23 23 23; /* #171717 */
  --did: 5 120 185; /* #0578B9 */
  --blue: 41 71 169; /* #2947A9 */
  --blue900: 18 18 224; /* #1212E0 */
  --blue800: 18 84 224; /* #1254E0 */
  --blue700: 93 135 224; /* #5D87E0 */
  --blue600: 4 87 135; /* #045787 */
  --blue500: 232 247 255; /* #E8F7FF */
  --primary: 18 214 224; /* #12D6E0 */
  --purple: 85 18 224; /* #5512E0 */
  --purple100: 141 102 222; /* #8D66DE */
  --dark: 33 33 33; /* #212121 */
  --secondary: 89 89 89; /* #595959 */
  --secondary900: 135 135 135; /* #878787 */
  --secondary800: 176 176 176; /* #B0B0B0 */
  --secondary700: 217 217 217; /* #D9D9D9 */
  --accent: 244 78 119; /* #F44E77 */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
